.products{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    padding-bottom: 30px;
}

.products ul{
list-style: none;
padding: 10px 0px;
gap: 30px 0px;
display: flex;
flex-direction: column;
text-align: start;
margin-bottom: 0px;
}

 .ignite{
    margin-top: 0px;
 }

.products ul li{
    text-align: start;
    margin: 0px 25px;
    padding: 10px 0px;
    border-top:1px solid rgb(211, 211, 211);
    border-bottom:1px solid rgb(211, 211, 211);
}

.products ul h1{
    font-size: 1.7rem;
    margin:0px 0px 0px 20px;
}


@media(min-width:1200px){
    .products ul h1{
        padding-left: 2%;
    }
}
