.header-container{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
position: fixed;
padding: 0px 40px;
top: 0px;
height: 60px;
background-color: #222221;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 30px;

}

.logo-img{
    height: 55px;
}

.logo-container h1{
    color: rgb(212, 212, 212);
    font-size: 1.5rem;
}

.share-icon{
    color:  rgb(212, 212, 212);
}